body {
    font-family: 'Trispace', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-evenly;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    padding-top: 20px;


}

.navbar-left {
    display: flex;
    width: 900px;

}

.navbar-left img {
    width: 40px;
    margin-left: 1.2rem;
}

.ul {
    display: flex;
    width: 800px;

}

.ul ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-left li {
    list-style: none;
    font-weight: bold;
    position: relative;
    color: black;
    margin: 0px 10px;
    font-size: 15px;

}

.navbar-left a {
    text-decoration: none;
    color: black;

}

.sub-menu {
    display: none;
}

.navbar-left li:hover .sub-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
}

.sub-menu ul {
    display: block;
    margin: 10px;
}

.sub-menu li {
    width: 140px;
    padding: 10px;
    list-style: none;

}

.sub-menu li a {
    text-decoration: none;
    color: white;
}

.for-artists {
    border-bottom: 2px solid;
}

.second-menu {
    display: none;
}

.navbar-left li:hover .second-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
}

.second-menu ul {
    display: block;
    margin: 10px;

}

.second-menu li {
    width: 100px;
    padding: 5px;
}

.second-menu li a {
    background-color: black;
    color: white;
    text-decoration: none;
}

#why-qrates {
    border-bottom: 2px solid;
    color: white;
}

.icons {
    display: flex;
    justify-content: end;

}



.outline img {
    width: 25px;
}

#shopping img {
    width: 25px;
}


.right-navbar {
    display: flex;
    width: 600px;


}

.right-navbar-drow {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 470px;
}

.right-navbar-drow li {

    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px 10px;
}

.right-navbar a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.bars {
    display: none;

}

.span {
    background-color: black;
    color: white;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container2 {
    display: flex;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 100px;


}


.left-image {
    display: flex;
    flex-direction: column;
    width: 500px;
    position: relative;
    padding: 0 4% 20% 30px;

}

.left-image h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 30px;
    font-size: 15px;
    border: 2px solid black;


}

.left-image h2 {

    width: 400px;
    font-size: 60px;
    font-family: sans-serif;
    margin: 0;

}

.left-image p {
    width: 457px;
    font-size: 26px;
    font-family: serif;
    color: black;
    font-weight: 900;
    padding-top: 11px;
}

.barriers {

    content: " ";
    display: flex;
    position: absolute;
    width: 400px;
    height: 20px;
    left: -7%;
    top: 45%;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(./asset/top-current\ \(2\).png);
    filter: brightness(0) contrast(100);
}

.right-image {
    display: flex;
    width: 750px;


}


.right-image img {
    width: 550px;
    transform: rotate(7deg);
    border: 2px solid #000000;
    margin-top: 50px;
}

.container3 {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;

}

.image-down {
    display: flex;
    justify-content: end;
    width: 750px;

}

.image-down img {
    width: 600px;
    transform: rotate(-5deg);
    border: 2px solid rgb(0, 0, 0);
    margin-top: -40%;
}

.image-logo {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 750px;


}

.image-logo img {
    width: 250px;
    height: 250px;
    /* padding: 0px 176px 0px 0px; */
    padding-left: 56px;
    padding-bottom: 80px;
}



.choose-from {
    display: flex;
    justify-content: center;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

.choose-from h1 {
    text-align: center;
}




.both-image {
    display: flex;
    flex-direction: row;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;


}

.vinyl-love {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 750px;
    height: 800px;
    background-color: #81836C;
    border-right: 2px solid black;

}

.vinyl-love img {
    width: 300px;
    margin-top: 20px;

}

.vinyl-love h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 30px;
    font-size: 13px;
    background-color: white;
    border: 2px solid black;
}

.vinyl-love h2 {
    font-size: 37px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: system-ui;
}

.vinyl-love p {
    text-align: center;
    width: 400px;
    font-size: 17px;
    font-weight: 600;
    line-height: 26px;
    font-family: system-ui;

}

.cassetter-run {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 750px;
    height: 800px;
    background-color: #497775;
    padding-top: 0px;
    border-right: 2px solid black;

}

.cassetter-run img {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.cassetter-run h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 167px;
    height: 28px;
    font-size: 14px;
    background-color: white;
    border: 2px solid black;
}

.cassetter-run h2 {
    font-size: 37px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: system-ui;
}

.cassetter-run p {
    text-align: center;
    width: 400px;
    font-size: 17px;
    font-weight: 600;
    line-height: 26px;
    font-family: system-ui;


}

.find-your-fit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

.find-your-fit h2 {
    display: none;
}

.find-your-fit h4 {
    display: none;
}

.find-your-fit p {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: -1px;
}

.main-container {
    display: flex;
    flex-direction: row;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;

}

.first-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 750px;
    background-color: rgb(255, 248, 4);
    border-right: 2px solid black;
    padding-top: 50px;
}

.first-image img {
    width: 60%;
    margin-top: 0px;
}

.first-image h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
    height: 30px;
    font-size: 13px;
    background-color: white;
    border: 2px solid black;
}

.first-image h2 {
    font-size: 40px;
    font-weight: bold;
}

.first-image p {
    text-align: center;
    width: 400px;
    font-size: 18px;
    font-weight: bold;
    font-family: system-ui;
}

.first-image a {
    margin-top: 80px;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-bottom: 80px;
    padding: 13px 80px;
    border-radius: 20px;
}

.second-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 750px;
    background-color: #81836C;
    padding-top: 28px;
}

.second-image img {
    width: 70%;
    margin-top: 20px;
}

.second-image h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 30px;
    font-size: 13px;
    background-color: white;
    border: 2px solid black;
}

.second-image h2 {
    font-size: 40px;
    font-weight: bold;
}

.second-image p {
    text-align: center;
    width: 400px;
    font-size: 18px;
    font-weight: bold;
    font-family: system-ui;
}

.second-image a {
    margin-top: 80px;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-bottom: 80px;
    padding: 13px 80px;
    border-radius: 20px;
}

.container5 {
    display: flex;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    border: 2px solid;
    background-color: rgb(0, 0, 0);
}

.just-after {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    color: white;

}

.just-after p {
    padding-left: 74px;
    font-size: 19px;
}

.star {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    color: white;

}

.star p {
    padding-top: 25px;
    text-decoration: underline;
}

.container6 {
    display: flex;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;


}

.left-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 750px;
}

.left-content p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 124px;
    height: 34px;
    border: 2px solid;
    font-size: 14px;
    font-weight: bold;
}

.left-content h1 {
    width: 439px;
    color: transparent;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1.42px;
    line-height: 40px;
    text-align: center;
    font-family: sans-serif;
}

.left-content img {
    width: 300px;
    transform: rotate(-5deg);

}

.left-content h3 {
    text-align: center;
    margin-top: 66px;
    width: 500px;
    letter-spacing: 1.2px;
    font-weight: normal;
    color: black;
    font-family: serif;
}

.learn-more {
    padding: 10px 50px;
    border-radius: 22px;
    background-color: white;
    cursor: pointer;
    font-weight: 900;
}

.right-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 750px;

}

.making-records {
    display: flex;
    align-items: center;
    width: 600px;
    height: 120px;
    font-size: 25px;
    background-color: black;
    color: white;
    letter-spacing: 0.3px;
    font-weight: 900;
    padding-left: 20px;
    border: 1px solid black;
}


.Design {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 74px;
    letter-spacing: 0.3px;
    font-weight: bold;
    font-size: 16px;
    padding-left: 20px;
    background-color: white;
    border: 1px solid black;
}

.Design i {
    padding-right: 20px;
}

.mastering {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 74px;
    letter-spacing: 0.3px;
    font-weight: bold;
    font-size: 16px;
    padding-left: 20px;
    background-color: white;
    border: 1px solid black;

}

.mastering i {
    padding-right: 20px;
}

.artwork {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 74px;
    letter-spacing: 0.3px;
    font-weight: bold;
    font-size: 16px;
    padding-left: 20px;
    background-color: white;
    border: 1px solid black;
}

.artwork i {
    padding-right: 20px;
}

.pressing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 74px;
    letter-spacing: 0.3px;
    font-weight: bold;
    font-size: 16px;
    padding-left: 20px;
    background-color: white;
    border: 1px solid black;
}

.pressing i {
    padding-right: 20px;
}

.storage {
    display: flex;
    align-items: center;
    width: 600px;
    height: 120px;
    font-size: 25px;
    padding-left: 20px;
    background-color: black;
    color: white;
    letter-spacing: 0.3px;
    font-weight: 900;
    border: 1px solid black;
}

.free-storage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 74px;
    letter-spacing: 0.3px;
    font-weight: bold;
    font-size: 16px;
    padding-left: 20px;
    background-color: white;
    border: 1px solid black;
}

.free-storage i {
    padding-right: 20px;
}

.sell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 74px;
    letter-spacing: 0.3px;
    font-weight: bold;
    font-size: 16px;
    padding-left: 20px;
    background-color: white;
    border: 1px solid black;
}

.sell i {
    padding-right: 20px;
}

.digital {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 74px;
    letter-spacing: 0.3px;
    font-weight: bold;
    font-size: 16px;
    padding-left: 20px;
    background-color: white;
    border: 1px solid black;
}

.digital i {
    padding-right: 20px;
}

.retail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 74px;
    letter-spacing: 0.3px;
    font-weight: bold;
    font-size: 16px;
    padding-left: 20px;
    background-color: white;
    border: 1px solid black;
}

.retail i {
    padding-right: 20px;
}

.support {
    display: flex;
    align-items: center;
    width: 600px;
    height: 120px;
    font-size: 25px;
    background-color: black;
    color: white;
    letter-spacing: 0.3px;
    font-weight: 900;
    padding-left: 20px;
    border: 1px solid black;
}

.customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 74px;
    letter-spacing: 0.3px;
    font-weight: bold;
    font-size: 16px;
    padding-left: 20px;
    background-color: white;
    border: 1px solid black;
}

.customer i {
    padding-right: 20px;
}

.artist-support {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 74px;
    letter-spacing: 0.3px;
    font-weight: bold;
    font-size: 16px;
    padding-left: 20px;
    background-color: white;
    border: 1px solid black;
}

.artist-support i {
    padding-right: 20px;
}

.container7 {
    display: flex;
    flex-direction: row;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 130px;
}

.background-image1 {
    display: flex;
    flex-direction: column;
    width: 800px;
    background-color: rgb(0, 0, 0);
}

.background-image1 img {
    width: 92%;
    height: 400px;
    margin: 0 auto;
    margin-top: 30px;
}

.retail-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    padding: 92px 8% 76px
}

.retail-column h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 34px;
    font-size: 15px;
    background-color: white;
}

.retail-column h2 {
    color: white;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1.4px;
    width: 317px;
    text-align: center;
    font-family: sans-serif;
}

.retail-column p {
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    font-family: serif;
}

.background-image2 {
    display: flex;
    flex-direction: column;
    width: 750px;
    background-color: #E280FF;
    border-bottom: 2px solid black;
}

.community {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 70px;
    position: relative;


}

.community-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.community-contents h4 {
    border: 2px solid black;
    padding: 4px 6px;
    margin-bottom: 0px;
}

.community-contents h1 {
    text-align: center;
    font-size: 47px;
    font-weight: bold;
    letter-spacing: -2.5px;
    line-height: 39px;
    margin-bottom: 1px;
    font-family: sans-serif;
}

.community-contents p {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    /* font-weight: bold; */
    width: 50%;
    line-height: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.browse-artists {
    padding: 10px 30px;
    border-radius: 20px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
}

.background-image2 img {
    width: 92%;
    height: 400px;
    margin: 0 auto;
    margin-top: 30px;
    object-fit: cover;
    border: 2px solid black;
}

.customer-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 92px 8% 74px;
}

.customer-column h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 176px;
    height: 36px;
    font-size: 15px;
    background-color: white;
    border: 2px solid black;
}


.customer-column h2 {
    width: 335px;
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: bold;
    letter-spacing: -1.5px;
    line-height: 43px;
    text-align: center;
    font-family: sans-serif;
}

.customer-column p {
    color: black;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    font-family: serif;
}


#sticker-image {
    width: 200px;
}

#sticker-image img {
    width: 164px;
    position: absolute;
    right: 5%;
    z-index: 1;
}

.all-image {
    display: grid;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;


}

.all-image img {
    width: 300px;
}

.all-image-first {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;



}

.image1 {
    overflow: hidden;

}

.image1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid black
}

.image2 {
    overflow: hidden;
}

.image2 img {
    width: 99%;
    height: 100%;
    border: 2px solid black;
}

.image3 {
    overflow: hidden;

}

.image3 img {
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.image4 {
    overflow: hidden;
    position: relative;
}

.image4 img {
    width: 99%;
    height: 100%;
    border: 2px solid black;
}

.all-image-second {
    display: flex;
    width: 100%;

}

.image5 {
    overflow: hidden;
}

.image5 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.image6 {
    overflow: hidden;
}

.image6 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.image7 {
    overflow: hidden;
}

.image7 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.image8 {
    overflow: hidden;


}

.image8 img {
    width: 99%;
    height: 100%;
    border: 2px solid black;
    object-fit: cover;
}




.child {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
}

.child li {
    list-style: none;
    margin: 5px 30px;
}

.child li a {
    text-decoration: none;
    color: black;
}

.chilled {
    text-decoration: underline;
}

.sol {
    text-decoration: underline;
}

.vuflpeck {
    text-decoration: underline;
}

.chillhop {
    text-decoration: underline;
}




.second-container {
    display: flex;
    justify-content: space-between;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF804;
    margin-bottom: 0;



}

.left-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 900px;
    margin-left: 1.9rem;


}



.left-container h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 173px;
    height: 35px;
    font-size: 14px;
    margin-top: 50px;
    background-color: white;
    border: 2px solid black;


}

.the-response {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.the-response p {
    width: 483px;
    font-size: 24px;
    font-family: system-ui;
    line-height: 31px;
    font-weight: 600;
}


.tag {

    font-size: xx-large;
}

.sol1 {
    text-decoration: underline;
    font-size: 20px;
    cursor: pointer;
}



.one-two {
    margin-bottom: 30px;
}

.one {
    border-radius: 50px;
    margin: 7px;
    font-size: 24px;
    border: 2px solid black;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
    background: black;
    cursor: pointer;
}

.two {
    border-radius: 50px;
    font-size: 24px;
    border: 2px solid black;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #000000;
    cursor: pointer;
}

.right-container {
    display: flex;
    width: 900px;


}

.right-container img {
    width: 100%;

}
.all-black{
    background-color: #000000;
}

.container-black {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

.black-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    flex-direction: column;

}

.black-content h4 {
    color: white;
    border: 2px solid white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.black-content h2 {
    color: white;
    font-size: 35px;
    width: 415px;
    position: relative;
    letter-spacing: -2px;
}


.black-content img {
    width: 265px;
    height: 36px;
    position: absolute;
    margin-left: 5%;
    margin-top: 3%;
}

.black-content p {
    color: white;
    font-size: 20px;
    width: 716px;
    font-weight: 900;
    letter-spacing: 0.2px;
    text-align: center;
    padding-top: 10px;
    font-family: monospace;
}

.sample {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    padding-top: 100px;

}

.sample img {
    width: 490px;
    height: 260px;
}


.button {
    text-align: center;
    font-size: 18px;
    padding-bottom: 36px;
    padding-top: 110px;
}

.button a {
    font-weight: 900;
    text-decoration: none;
    background: rgb(255, 248, 4);
    padding: 23px 122px;
    border-radius: 47px;
    color: black;
    cursor: pointer;
}

.container-down {
    display: flex;
    justify-content: space-evenly;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
}

.container-down-first {
    display: flex;
    width: 500px;

}

.FOR-ARTISTS {
    width: 250px;

}

.FOR-ARTISTS h3 {
    color: white;
}

.FOR-ARTISTS li {
    list-style: none;
    padding: 10px 0px;
}

.FOR-ARTISTS li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.for-fans {

    width: 250px;

}

.for-fans h3 {
    color: white;
}

.for-fans li {
    list-style: none;
    padding: 10px 0px;
}

.for-fans li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;

}

.container-down-second {
    display: flex;
    width: 500px;

}

.our-company {
    width: 250px;
}

.our-company h3 {
    color: white;
}

.our-company li {
    list-style: none;
    padding: 10px 0px;
}

.our-company li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.help {
    width: 250px;

}

.help h3 {
    color: white;
}

.help li {
    list-style: none;
    padding: 10px 0px;
}

.help li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}


.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    padding-bottom: 50px;

}

.footer-image {
    display: flex;
    width: 900px;

}

.footer-down {
    width: 600px;

}

.footer-down img {
    width: 400px;
    margin-left: 4rem;
}

.footer-media {
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 900px;

}

.footer-media-down {
    display: flex;
    justify-content: end;
    /* width: 501px; */
    padding-right: 30px;
}





.footer-media-down a {
    width: 40px;

}

.fa-brands {
    font-size: 30px;
    color: white;
}

.hide {
    display: none;
}

.footer-content {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.footer-content li {
    list-style: none;
    color: white;
    font-size: 14px;
    margin: 0px 10px;
}

.tdmc{
    display: none;
    color: white;
}



































@media only screen and (max-width: 600px) and (min-width: 320px) {

    .container {
        width: 100%;
        padding: 0;

    }


    .navbar-left {
        width: 100%;
    }

    .navbar-left ul {
        width: 100%;

    }

    .ul {
        margin-top: -4%;
    }

    .navbar-left li {
        display: none;
    }

    .navbar-left img {
        width: 35px;
        margin-left: 1.3rem;
    }



    .icons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        padding: 0;

    }

    .icons a {
        font-size: 30px;
        margin: 10px;
        padding-right: 10px;
    }

    .right-navbar {
        display: none;
    }

    .bars {
        display: flex;
    }

    .container2 {
        flex-direction: column;
        width: 100%;
        padding-top: 50px;

    }

    .left-image {
        width: 98%;
        margin-left: 0px;
        padding: 0px;
        padding-top: 50px;
    }
    

    .left-image h3 {
        text-align: center;
        width: 110px;
        font-size: 15px;
        border: 2px solid;
        margin-left: 1.3rem;
    }

    .left-image h2 {
        width: 61%;
        padding-bottom: 0;
        font-size: 36px;
        line-height: 40px;
        margin-left: 1.3rem;

    }

    .left-image p {
        width: 84%;
        font-size: 20px;
        font-weight: 900;
        line-height: 25px;
        padding-bottom: 20px;
        margin-left: 1.3rem;

    }

    .barriers {
        width: 55%;
        height: 5px;
        left: 6%;
        top: 65%;
    }



    .right-image {
        display: flex;
        justify-content: end;
        width: 100%;
        overflow-x: hidden;


    }

    .right-image img {
        width: 265px;
        transform: rotate(5deg);

    }



    .container3 {
        width: 99%;


    }


    .image-down {
        width: 100%;

    }

    .image-down img {
        width: 252px;
        height: 340px;
        margin-top: -49px;
        transform: rotate(354deg);
        overflow: hidden;
    }

    .image-logo {
        width: 100%;
        /* padding-top: 32px; */

    }


    .image-logo img {
        width: 100px;
        height: 113px;
        padding: 0;
    }

    .choose-from {
        width: 99%;
        padding-top: 50px;
        border: none;
    }

    .choose-from h1 {
        text-align: center;
        font-size: 30px;

    }


    .both-image {
        flex-direction: column;
        width: 100%;
    }

    .vinyl-love {
        width: 100%;
        height: 700px;
        border-right: none;

    }

    .vinyl-love p {
        width: 82%;
        font-size: 17px;
        font-family: auto;
        line-height: 25px;
        order: 4;


    }

    .vinyl-love img {
        width: 50%;
        order: 1;
    }

    .vinyl-love h2 {
        font-size: 47px;
        font-weight: bold;
        order: 2;


    }

    .vinyl-love h3 {
        width: 36%;
        order: 3;

    }

    .cassetter-run {
        width: 100%;
        height: 700px;
        border-right: none;
    }

    .cassetter-run h3 {
        width: 50%;
        order: 3;
    }

    .cassetter-run h2 {
        font-size: 47px;
        font-weight: bold;
        order: 2;
    }

    .cassetter-run img {
        width: 50%;
        order: 1;
    }

    .cassetter-run p {
        width: 82%;
        font-size: 17px;
        font-family: auto;
        line-height: 25px;
        order: 4;
    }

    .find-your-fit {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 99%;
        padding-top: 30px;
    }

    .find-your-fit h2 {
        display: block;
        font-size: 36px;
        font-weight: bold;
        font-family: sans-serif;
    }

    .find-your-fit h4 {
        display: block;
        width: 69%;
        text-align: center;
        font-size: 15px;
        font-family: sans-serif;
        margin: 0;
        line-height: 23px;
    }

    .find-your-fit p {
        display: none;
    }

    .main-container {
        flex-direction: column;
        width: 100%;

    }

    .first-image {
        width: 100%;
        border-right: none;
    }

    .first-image h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 41%;
        height: 30px;
        order: 2;
    }

    .first-image h2 {
        font-size: 28px;
        font-weight: bold;
        order: 3;
        margin: 0;
        padding-top: 5px;
    }

    .first-image p {
        width: 82%;
        font-size: 17px;
        font-family: auto;
        line-height: 25px;
        order: 4;
    }

    .first-image img {
        width: 65%;
        order: 1;
        padding-bottom: 10px;
    }

    .first-image a {
        margin-top: 23px;
        text-decoration: none;
        background-color: rgb(0, 0, 0);
        color: white;
        margin-bottom: 69px;
        padding: 15px 120px;
        border-radius: 20px;
        font-size: 11px;
        order: 5;
    }

    .second-image {
        width: 100%;
        border-right: none;

    }

    .second-image h3 {
        order: 2;
    }

    .second-image h2 {
        order: 3;
        margin: 0;
        font-size: 35px;
        font-family: ui-sans-serif;
    }

    .second-image a {
        margin-top: 23px;
        text-decoration: none;
        background-color: rgb(0, 0, 0);
        color: white;
        margin-bottom: 80px;
        padding: 15px 100px;
        border-radius: 20px;
        order: 5;
    }

    .second-image p {
        width: 92%;
        order: 4;
        font-weight: 500;
        color: black;
    }

    .container5 {
        flex-direction: column;
        width: 99%;
        height: 213px;
    }

    .just-after {
        padding-top: 20px;
        text-align: center;
        width: 100%;
    }

    .just-after p {
        width: 83%;
        padding-left: 0px;
        font-size: 20px;
        font-family: serif;
    }

    .star {
        width: 100%;
    }

    .star p {
        padding-top: 0px;
    }

    .container6 {
        flex-direction: column;
        width: 99%;
        padding-top: 20px;

    }

    .left-content {
        width: 100%;
    }

    .left-content img {
        width: 50%;
        order: 3;
        margin-top: 2rem;
        border: 2px solid black;
    }

    .left-content h1 {
        width: 90%;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #8d7b7b;
        font-size: 30px;
        font-weight: 900;
        letter-spacing: 2.42px;
        line-height: 36px;
        text-align: center;
        padding-bottom: 15px;
        font-family: system-ui;
    }

    .left-content h3 {
        width: 90%;
        font-size: 20px;
        font-weight: 500;
        font-family: ui-monospace;
        order: 1;
        margin: 0;
        padding-bottom: 28px;
        line-height: 25px;
        letter-spacing: 0px;
    }

    .left-content h4 {
        width: 44%;
        margin-top: 35px
    }

    .learn-more {
        padding: 10px 130px;
        border-radius: 22px;
        background-color: white;
        cursor: pointer;
        font-weight: 700;
        order: 2;
        font-size: 11px;
    }

    .right-content {
        padding-top: 50px;
        width: 93%;
        padding-left: 14px;
    }

    .making-records {
        width: 100%;
        height: 83px;
        font-size: 18px;
    }

    .mastering {
        width: 100%;
        height: 83px;
        font-size: 16px;
    }

    .Design {
        width: 100%;
        height: 83px;
        font-size: 16px;

    }

    .artwork {
        width: 100%;
        height: 83px;
        font-size: 16px;
    }

    .pressing {
        width: 100%;
        height: 83px;
        font-size: 16px;
    }

    .storage {
        width: 100%;
        height: 83px;
        font-size: 18px;
    }

    .free-storage {
        width: 100%;
        height: 83px;
        font-size: 16px;
    }

    .sell {
        width: 100%;
        height: 83px;
        font-size: 16px;
    }

    .digital {
        width: 100%;
        height: 83px;
        font-size: 16px;
    }

    .retail {
        width: 100%;
        height: 83px;
        font-size: 16px;
    }

    .support {
        width: 100%;
        height: 83px;
        font-size: 18px;
    }

    .customer {
        width: 100%;
        height: 83px;
        font-size: 16px;
    }

    .artist-support {
        width: 100%;
        height: 83px;
        font-size: 16px;
    }

    .container7 {
        flex-direction: column;
        padding-top: 100px;
    }

    .background-image1 {
        width: 100%;
    }

    .background-image1 img {
        width: 92%;
        height: 100%;

    }

    .retail-column {
        padding: 70px 8% 76px
    }

    .retail-column h2 {
        width: 100%;
        font-size: 32px;
        line-height: 39px;
        margin: 0;
        padding-top: 10px;
    }

    .retail-column {
        font-size: 18px;
    }




    .background-image2 {
        width: 100%;
    }

    .background-image2 img {
        width: 90%;
        height: 100%;
        margin-top: 20px;
        margin-bottom: 30px;

    }

    .costomer-column {
        width: 100%;
    }

    .customer-column h2 {
        width: 91%;
        margin: 0;
        font-size: 32px;
        /* letter-spacing: -1px; */
        line-height: 37px;
        padding-top: 5px;

    }

    .costomer-column h3 {
        width: 54%;
        height: 34px;
        font-size: 14px;
    }

    .customer-column {
        padding: 0px 8% 74px;
    }

    .customer-column p {
        font-size: 17px;
        font-weight: 500;
        font-family: system-ui;
    }

    .community {
        width: 100%;
        padding-top: 30px;
    }

    .community p {
        width: 90%;
        font-size: 16px;
        font-weight: 600;

    }

    .community-contents h1 {
        width: 98%;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: -1px;
    }

    .browse-artists {
        padding: 10px 104px;
    }

    #sticker-image img {

        width: 26%;
        right: 9%;
        bottom: -17%;
    }

    .all-image {
        width: 100%;
    }

    .all-image-first {
        flex-wrap: wrap;
        grid-template-columns: 50% 50%;
    }

    .all-image-second {
        width: 100%;
    }

    .image8 {
        width: 100%;
    }

    .follow {
        width: 100%;
        padding-top: 0px;
    }

    .follow p {
        padding-top: 0px
    }

    .child {
        display: none;
    }

    .second-container {
        flex-direction: column-reverse;
        width: 100%;
    }

    .left-container {
        width: 99%;
        margin-left: 0;
    }

    .left-container h4 {
        margin-left: 1rem;
        margin-top: 30px;
    }

    .right-container {
        width: 91%;
    }

    .right-container img {
        width: 100%;
        margin-left: 1rem;
        margin-top: 1.3rem;
        border: 2px solid;
    }

    .container-black {
        width: 100%;
    }

    .container-down {
        flex-direction: column;
        padding-top: 30px;
    }

    .container-down-first {
        width: 99%;

    }

    .FOR-ARTISTS {
        margin-left: 1.2rem;
        width: 100%;
    }

    .FOR-ARTISTS h3 {
        font-size: 18px;
    }

    .FOR-ARTISTS li {
        padding: 4px 0px;
    }

    .FOR-ARTISTS li a {
        font-size: 15px;
    }

    .for-fans {
        width: 100%;
    }

    .for-fans h3 {
        font-size: 18px;
    }

    .for-fans li {
        padding: 4px 0px;
    }

    .for-fans li a {
        font-size: 15px;
    }

    .container-down-second {
        width: 99%;

    }

    .our-company {
        width: 100%;
        margin-left: 1.2rem;
        padding-top: 50px;
    }

    .our-company h3 {
        font-size: 18px;
    }

    .our-company li {
        padding: 4px 0px;
    }

    .our-company li a {
        font-size: 15px;
    }

    .help {
        width: 100%;
        padding-top: 50px;
    }

    .help h3 {
        font-size: 18px;
    }

    .help li {
        padding: 4px 0px;
    }

    .help li a {
        font-size: 15px;
    }


    .black-content {
        width: 100%;
    }

    .black-content h2 {
        text-align: center;
        width: 65%;
        font-size: 30px;
        font-family: sans-serif;
    }

    .black-content p {
        width: 86%;
        font-size: 15px;
        line-height: 25px;
    }

    .the-response {
        width: 98%;
    }

    .the-response p {

        width: 90%;
        font-size: 20px;
        line-height: 24px;
        /* padding-left: 20px; */
        margin-left: 1rem;

    }

    .second-response {
        width: 70%;
        padding-bottom: 100px;
    }

    .second-response h5 {
        margin: 0;
        margin-left: 1rem;
        font-size: 15px;
    }

    .one-two {

        width: 68%;

        margin-left: 1rem;
        padding-bottom: 20px;
    }




    .black-content img {
        padding-bottom: 0px;
        width: 45%;
        margin-left: 3rem;
    }

    .sample {
        width: 98%;
    }

    .sample img {
        display: flex;
        width: 68%;
        height: 100%;
        margin-left: 52px;
    }

    .button a {
        padding: 15px 83px;
    }

    .footer {
        width: 99%;
        padding-top: 70px;
    }

    .footer-image {
        display: none;
    }

    .social-image {
        display: flex;
        justify-content: center;
        padding-bottom: 12px;
        width: 100%;
        padding-left: 0px;
    }

    .social-media {
        width: 99%;
    }

    .image-logo img {

        width: 100px;

    }

    .footer-media-down {
        width: 66%;
        padding-bottom: 100px;

    }

    .footer-media-down a {
        margin-right: 0;
        padding: 0px 5px;
    }

    .footer-content {
        width: 100%;
        order: 3;
        text-align: center;

    }


    .footer-content li {
        width: 100%;
        font-size: 14px;
        margin: 0px 0px;
        font-family: auto;
        font-weight: bold;
    }
    



    #tdms {
        display: none;
    }
    .tdmc{
        display: flex;
        justify-content: center;
        align-items: center;
        order: 5;
        width: 99%;
        padding-top: 10px;
    }
    .tdmc li{
        list-style: none;
        font-size: 14px;
        padding-right: 5px;
        font-family: auto;
        font-weight: bold;
    }

    /* .tdms-2{
    display: block;
} */
    .footer-content-1 a {
        font-size: 15px;
    }

    .hide {
        display: block;
        width: 90%;
        order: 2;
        padding-top: 30px;
        margin-left: 1rem;
        padding-bottom: 60px;
    }

    .hide img {
        width: 100%;
    }

    #i i {
        font-size: 45px;
        padding: 0px 10px;
    }

}












@media only screen and (max-width: 820px) and (min-width: 600px) {

    .container {
        width: 100%;

    }

    .right-navbar {
        display: none;
    }

    .navbar-left {
        width: 100%;
        padding-left: 15px;

    }

    .navbar-left ul {
        width: 100%;
    }

    .navbar-left li {
        display: none;
    }

    .navbar-left img {
        width: 30px;
        margin-left: 0rem;
    }

    .ul {
        display: flex;
        justify-content: end;
        width: 100%;
    }

    .icons {
        display: flex;
        justify-content: end;
        width: 94%;
        margin: -13px;
    }

    .icons a {
        margin: 0px 20px;
        font-size: 33px;
    }

    .bars {
        display: flex;
    }

    .container2 {
        overflow: hidden;
        flex-direction: column;
        width: 99%;
        padding-top: 0px;
    }

    .left-image {
        width: 100%;
        margin-left: 0rem;
        padding: 117px 4% 6% 30px;

    }

    .left-image h2 {
        width: 82%;
        font-family: sans-serif;
        padding-bottom: 0;
    }

    .left-image p {
        width: 81%;
        font-size: 28px;
        font-weight: normal;
        font-family: auto;
    }

    .left-image i {
        font-size: 15px;
    }

    .barriers {
        width: 55%;
        top: 63%;
        left: 27%
    }



    .right-image {
        display: flex;
        justify-content: end;
        width: 100%;
    }

    .right-image img {
        width: 63%;
        transform: rotate(365deg);
        margin-top: 22px;
    }

    .container3 {
        width: 100%;
        height: 500px;

    }

    .image-down {
        width: 100%;
    }

    .image-down img {
        width: 500px;
        transform: rotate(353deg);
        margin-top: -22%;
        overflow: hidden;
    }

    .image-logo {
        align-items: baseline;
        width: 56%;
        margin-top: 10%;
    }

    .image-logo img {
        width: 200px;
        height: 46%;
        padding: 0px 78px 0px 0px;
    }

    .choose-from {
        width: 100%;

    }

    .choose-from h1 {
        font-size: 33px;
        font-family: revert;
        font-weight: bold;
    }

    .both-image {
        flex-direction: column;
        width: 100%;
    }

    .vinyl-love {
        width: 100%;
        border: none;
    }

    .vinyl-love h3 {
        order: 2;
    }

    .vinyl-love h2 {
        order: 3;
    }

    .vinyl-love p {
        width: 80%;
        order: 4;
        font-size: 16px;
        line-height: 22px;
    }

    .vinyl-love img {
        order: 1;
        width: 50%;
    }

    .cassetter-run {
        width: 100%;
        border: none;
    }

    .cassetter-run h3 {
        order: 2;
    }

    .cassetter-run h2 {
        order: 3;
    }

    .cassetter-run p {
        width: 80%;
        order: 4;
        font-size: 16px;
        line-height: 22px;
    }

    .cassetter-run img {
        order: 1;
        width: 50%;
    }


    .find-your-fit {
        width: 100%;
        padding-top: 0;
    }

    .find-your-fit h2 {
        display: block;
        font-size: 40px;
        text-align: center;
        font-family: system-ui;
        margin: 0;
        padding-top: 30px;
    }

    .find-your-fit h4 {
        display: block;
        font-size: 17px;
        text-align: center;
        letter-spacing: -1px;
    }

    .find-your-fit p {
        display: none;
    }

    .main-container {
        flex-direction: column;
        width: 100%;
    }

    .first-image {
        width: 100%;
        border: none;
    }

    .first-image h3 {
        order: 2;
        margin-top: 30px;
    }

    .first-image h2 {
        order: 3;
        margin: 0;
        padding-top: 20px;
        font-size: 35px;
        font-family: system-ui;
    }

    .first-image img {
        order: 1;
        width: 70%;
    }

    .first-image p {
        order: 4;
        width: 77%;
        font-weight: 500;
    }

    .first-image a {
        order: 5;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .second-image {
        width: 100%;
    }

    .second-image h3 {
        order: 2;
    }

    .second-image h2 {
        order: 3;
        margin: 0;
        font-size: 30px;
        padding-top: 20px;
    }

    .second-image img {
        order: 1;
        width: 70%;
    }

    .second-image p {
        order: 4;
        width: 88%;
        font-weight: 400;
    }

    .second-image a {
        order: 5;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .container5 {
        flex-direction: column;
    }

    .just-after {
        width: 100%;

    }

    .just-after p {

        font-size: 16px;
        padding-left: 28px;
    }

    .star {
        width: 100%;
    }

    .container6 {
        width: 100%;
        flex-direction: column;
        padding-top: 20px;
    }

    .left-content {
        width: 99%;
        margin-bottom: 20px;

    }


    .left-content img {
        order: 3;
        margin-top: 20px;
    }

    .learn-more {
        order: 2;
        padding: 10px 70px;
    }

    .left-content h3 {
        width: 85%;
        order: 1;
        font-size: 18px;
        font-family: ui-serif;
        font-weight: 500;
        margin-top: 0;
    }

    .right-content {
        width: 99%;

    }

    .making-records {
        width: 94%;
        height: 73px;
        font-size: 21px;
    }

    .Design {
        width: 94%;
        height: 73px;
    }

    .mastering {
        width: 94%;
        height: 73px;
    }

    .artwork {
        width: 94%;
        height: 73px;
    }

    .pressing {
        width: 94%;
        height: 73px;
    }

    .storage {
        width: 94%;
        height: 73px;
        font-size: 21px;
    }

    .free-storage {
        width: 94%;
        height: 73px;
    }

    .sell {
        width: 94%;
        height: 73px;
    }

    .digital {
        width: 94%;
        height: 73px;
    }

    .retail {
        width: 94%;
        height: 73px;
    }

    .support {
        width: 94%;
        height: 73px;
        font-size: 21px;
    }

    .customer {
        width: 94%;
        height: 73px;
    }

    .artist-support {
        width: 94%;
        height: 73px;
    }

    .container7 {
        flex-direction: column;
        width: 100%;
        padding-top: 80px;
    }

    .background-image1 {
        width: 100%;
    }

    .background-image1 img {
        width: 50%;
        height: 100%;
    }

    .retail-column {
        width: 83%;
    }

    .retail-column {

        width: 83%;
        padding: 0px 8%
    }

    .retail-column h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 23%;
        height: 34px;
        background-color: white;
        font-size: 14px;
    }

    .retail-column h2 {
        width: 55%;
        font-size: 34px;
        font-family: auto;
        font-weight: bolder;
    }

    .retail-column p {
        width: 96%;
        font-size: 15px;
        padding-bottom: 70px;
    }

    .background-image2 {
        width: 100%;
    }

    .background-image2 img {
        width: 95%;
        height: 224px;
    }

    .customer-column {
        padding: 33px 8% 74px;
    }

    .customer-column h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 33px;
        font-size: 15px;
    }

    .customer-column p {
        width: 100%;
        font-size: 18px;
        font-family: auto;
    }

    .community {
        width: 99%;
        padding-top: 30px;

    }

    .community-contents h4 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 13%;
        height: 25px;
        font-size: 13px;
    }

    .community-contents h1 {
        font-size: 35px;
        font-family: sans-serif;
    }

    .community-contents p {
        font-size: 18px;
        font-family: serif;
        font-weight: normal;
    }

    .browse-artists P {
        padding: 14px 70px;
        background-color: white;
        border: 2px solid black
    }

    #sticker-image img {
        right: 15%;
        width: 15%;
    }

    .all-image {
        width: 100%;
    }

    .all-image-first {
        width: 100%;
        grid-template-columns: 50% 50%;
    }

    .image8 {
        width: 100%;
    }

    .child {
        width: 99%;

    }

    .child li {
        margin: 0px 20px;
    }

    .child a {
        font-size: 12px;
    }

    .second-container {
        flex-direction: column-reverse;
        width: 100%;
    }

    .left-container {
        width: 95%;

    }

    .left-container2 {
        width: 100%;
    }

    .the-response {
        width: 89%;
    }

    .the-response p {
        width: 100%;
        font-size: 25px;
        line-height: 30px;

    }

    .one-two {
        padding-top: 80px;
        margin-bottom: 30px;
        width: 50%;
    }


    .right-container {
        display: flex;
        justify-content: center;
        width: 92%;
        height: 500px;
        margin-left: 2rem;
        margin-top: 2rem;
    }

    .right-container img {
        width: 100%;
        height: 100%;
        border: 2px solid black;
        object-fit: cover;
    }

    .container-black {
        width: 100%;

    }

    .container-black h2 {
        width: 55%;
        text-align: center;
        margin: 0
    }

    .container-black p {
        width: 68%;
        font-size: 18px;
        padding-top: 32px;
    }

    .container-black img {

        margin-top: 1%;
    }

    .button a {
        font-size: 15px
    }

    .container-down {
    width: 100%;
    flex-direction: column;
    padding-top: 50px;
    border-top: 1px solid white;
    margin-top: 50px;

    }

    .container-down-first {
        display: flex;
        width: 89%;
        padding-left: 2rem;

    }

    .FOR-ARTISTS li {
        list-style: none;
        padding: 2px 0px;
        font-family: system-ui;
    }

    .FOR-ARTISTS li a {
        font-size: 16px;
    }

    .for-fans {
        padding-left: 5rem;
    }

    .for-fans li {
        list-style: none;
        padding: 2px 0px;
        font-family: system-ui;
    }

    .for-fans li a {
        font-size: 16px;
    }

    .container-down-second {
        display: flex;
        width: 89%;
        padding-left: 2rem;
        padding-top: 30px;

    }

    .our-company li {
        list-style: none;
        padding: 2px 0px;
        font-family: system-ui;
    }

    .our-company li a {
        font-size: 16px;
    }


    .help {
        padding-left: 5rem;
    }

    .help li {
        list-style: none;
        padding: 2px 0px;
        font-family: system-ui;
    }

    .help li a {
        font-size: 16px;
    }

    .footer {
        width: 100%;
        flex-direction: column;
        padding-top: 100px;
    }

    /* .footer-down img{
    display: none;
} */
    .footer-down {
        display: none;
    }


    .footer-image {
        width: 99%;
    }

    .footer-media {
        width: 99%;

    }

    .footer-media-down {
        justify-content: center;
        order: 1;
        padding: 5px 0px 120px;
    }

    .footer-content {
        width: 100%;
        order: 3;
    }

    .footer-content li {
        width: 100%;
        text-align: center;
        padding-top: 32px;
    }

    .social-media {
        width: 99%;
    }

    .hide {
        display: block;
        text-align: center;
        order: 2;
    }

    .hide img {
        width: 92%;
    }

}